body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}



.titleNav {
    margin: 0;
    color: #1e90ff;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.1),
        2px 2px 4px rgba(245, 241, 241, 0.2),
        3px 3px 6px rgba(0, 0, 0, 0.3);

}


.container-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;


}

.nav:hover {
    transition: all 0.5s;
    background: #00000085;
    border-radius: 8px;
}



.pref {
    color: dodgerblue;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.1),
        2px 2px 4px rgba(245, 241, 241, 0.2),
        3px 3px 6px rgba(0, 0, 0, 0.3);

}

.ocupation {
    margin: 0;
    padding-top: 10px;
}

.container-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.btnProject {

    background: #1e90ff;
    background-size: 200% 100%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 1px solid #1e90ff;
    color: white;
    transition: background-position 1s, color 2s;
    /* Añadido background-position a la transición */
}

.btnProject:hover {
    cursor: pointer;
}

.git {
    width: 40px;
}

.iconHabilidad {

    display: flex !important;
    justify-content: center !important;

}

.imgPerfil {
    width: 100%;

}


.html {
    background-image: url('../Img/icon/html.svg');
}
.css {
    background-image: url('../Img/icon/css.svg');
}

.js {
    background-image: url('../Img/icon/js.svg');
}
.python {
    background-image: url('../Img/icon/python.svg');
}
.cs {
    background-image: url('../Img/icon/cs.svg');
}
.bs {
    background-image: url('../Img/icon/bootstrap.svg');
}
.tw {
    background-image: url('../Img/icon/tailwindcss-dark.svg');
}
.php {
    background-image: url('../Img/icon/php.svg');
}


.circle {
    overflow: hidden;
    width: 350px;
    height: 350px;
    border: 1px;
    border-radius: 100%;
    z-index: 3;
    /* box-shadow:
        1px 4px 3px rgba(30, 144, 255, 0.5),
        1px 4px 5px rgba(30, 144, 255, 0.4),
        1px 7px 7px rgba(30, 144, 255, 0.3),
        1px 7px 10px rgba(30, 144, 255, 0.2); */
}

.adornos {
    width: 40%;
    height: 600px;
}

.html_img {
    top: 100px;
    left: 20px;
}

.phthon_img {
    top: 405px;
    right: 40px;
}

.css_img {
    left: 140px;
    top: 180px;
}

.react_img {
    bottom: -260px;
    left: 380px;
}


.fondo_img {
    top: -250px;
    left: 20px;
    z-index: -98;
}


/* Mancha en toda la pantalla */

.background-shape {
    position: absolute;
    left: 35%;
    top: 0;
    z-index: -10;
    transform: translateX(-50%);
    filter: blur(3rem);
}

.background-shape.xl\\ {
    top: -1.5rem;
    /* Ajuste para pantallas XL */
}

.inner-shape {
    aspect-ratio: 1155 / 679;
    width: 72.1875rem;
    background: linear-gradient(to top right, #F4E9DC, #1e90ff);
    opacity: 0.3;
    clip-path: polygon(84.1% 50.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 77.8%, 76.1% 97.7%, 74.1% 44.1%);
}



.perfil2 {
    width: 180px;
    height: 240px;
}

.img2 {
    width: 100%;
}

.icon {
    width: 70px !important;
}

.background-image {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 25%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.sombra {
    border-image: fill 0 linear-gradient(#0001, #000);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.text-project {
    padding: 15px;
    font-size: 18px;
}



.youtube {
    position: relative;
    width: 250px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition-delay: 6s; 
    background-image: url('../Img/youtube.png');
}

.facebook {
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: all 2s; 
    background-image: url('../Img/icon-facebook.jpg');
}

.calculadora {
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: all 2s; 
    background-image: url('../Img/pet.png');
}

.sombraProject {
    border-image: fill 0 linear-gradient(#0001, #000);
    width: 100%;
    display: none;
    transition-timing-function: ease-out;
    transition: all 2s; 
   
   
}

.facebook:hover .sombraProject {
    display: flex;
    height: 100%;
}

.calculadora:hover .sombraProject {
    display: flex;
    height: 100%;
}


.btnContact {
    width: 30px;
}







/*pantallas pequeñas */
@media (max-width: 800px) {
    .container-info {
        justify-content: flex-start !important;
        padding-inline-start: 40px !important;
        padding-inline-end: 15px !important;
    }

    .text {
        font-size: 17px !important;
    }

    .habilidad {
        justify-content: unset !important;
    }

    .movil {
        justify-content: flex-end !important;
    }

    .project {
        justify-content: center !important;
        padding-top: 25px;
    }



}