body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.titleNav {
    margin: 0;
    color: #1e90ff;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.1),
        2px 2px 4px rgba(245, 241, 241, 0.2),
        3px 3px 6px rgba(0, 0, 0, 0.3);

}


.container-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;


}

.name {
    margin: 0;
    font-size: 2cap;
    color: black;
}

.pref {
    color: dodgerblue;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.1),
        2px 2px 4px rgba(245, 241, 241, 0.2),
        3px 3px 6px rgba(0, 0, 0, 0.3);

}

.ocupation {
    margin: 0;
    padding-top: 10px;
}

.container-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.btnProject {

    background: #1e90ff;
    background-size: 200% 100%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 1px solid #1e90ff;
    color: white;
    transition: background-position 1s, color 2s;
    /* Añadido background-position a la transición */
}

.btnProject:hover {
    cursor: pointer;
}

.git {
    width: 40px;
}

.iconHabilidad {
    width: 110px;
    display: flex !important;
    justify-content: center !important;

}

.imgPerfil {
    width: 100%;
    
} 


.circle {
    overflow: hidden;
    width: 350px;
    height: 350px;
    border: 1px;
    border-radius: 100%;
    box-shadow:
        1px 4px 3px rgba(30, 144, 255, 0.5),
        1px 4px 5px rgba(30, 144, 255, 0.4),
        1px 7px 7px rgba(30, 144, 255, 0.3),
        1px 7px 10px rgba(30, 144, 255, 0.2);
}


/* Mancha en toda la pantalla */

.background-shape {
    position: absolute;
    left: 35%;
    top: 0;
    z-index: -10;
    transform: translateX(-50%);
    filter: blur(3rem);
}

.background-shape.xl\\ {
    top: -1.5rem;
    /* Ajuste para pantallas XL */
}

.inner-shape {
    aspect-ratio: 1155 / 679;
    width: 72.1875rem;
    background: linear-gradient(to top right, #F4E9DC, #1e90ff);
    opacity: 0.3;
    clip-path: polygon(84.1% 50.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 77.8%, 76.1% 97.7%, 74.1% 44.1%);
}

.resumen {
    width: 70%;
    line-height: 3dvb;
}

.perfil2 {
    width: 220px;
    height: 280px; 
}

.img2 {
    width: 100%;
}
.icon{
    width: 70px !important; 
}

.img-project {
    border-image: fill 0 linear-gradient(#0001, #000);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.text-project {
    padding: 15px;
    font-size: 18px;
}

.youtube {
   position: relative;
    width: 300px;
    height: 200px;
    background-image: url('../Img/youtube.png');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
  
  
}




/* Animación de aparición */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



/*pantallas pequeñas */
@media (max-width: 800px) {
    .navbar {
      border-radius: 0 !important;
    }
    .circle {
        width: 300px;
        height: 300px;
    }

    .container-img {
        margin-top: 50px;
        justify-content: center !important;
    }

    .container-info {
        justify-content: flex-start !important;
        padding-inline-start: 40px !important;
        padding-inline-end: 15px !important;
    }

    .text {
        font-size: 17px !important;
    }

    .background-shape {
        left: 5%;
    }

    .inner-shape {
        aspect-ratio: 1395 / 822;
        width: 31.1875rem;
        background: linear-gradient(to top right, #F4E9DC, #1e90ff);
        /* opacity: 0.3; */
        clip-path: polygon(84.1% 50.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 77.8%, 76.1% 97.7%, 74.1% 44.1%);
    }

    .habilidad {
        justify-content:unset !important;
    }
  }


  